.footer-wrapper {
    width: 100%;
}
.footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    min-height: 50px;

    
     .info p{
        margin: 0;
    }
     .info h3 {
        margin:  8px 0;
    }
}